<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63686332615-k044cbm1i6eigbl3sg2i9pu8r7vlr2sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63686332615-k044cbm1i6eigbl3sg2i9pu8r7vlr2sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBab12CpWshKtWCMkzuUX0C-q3sOY3FW1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>63686332615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>liel-titelbaum.CarApp</string>
	<key>PROJECT_ID</key>
	<string>car-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>car-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63686332615:ios:ab1a538de248843ae1aee2</string>
	<key>DATABASE_URL</key>
	<string>https://car-app-ios.firebaseio.com</string>
</dict>
</plist>